@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2em;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}


.background-container {
    background-color: transparent;
    background-image: url('./assets/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}