.seccion-oscura {
  padding: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.898);
}


.fire-text h1 {
    font-size: 3em;
    animation: flame 1s infinite alternate;
    color: #ff5722;
    text-shadow: 0 0 5px #ff5722, 0 0 10px #ff5722, 0 0 15px #ff5722;
}

.text-custom p {
  font-size: 1.8em;
  text-decoration: none !important;
  color: white;
}

.text-custom p:hover {
  animation: flame 1s infinite alternate;
  color: #ff5722;
  text-shadow: 0 0 5px #ff5722, 0 0 10px #ff5722, 0 0 15px #ff5722;
}

.mi-formulario{
  padding: 10px;
  border-radius: 8px;
  background-color: #262a34;
  color: white;
}

.mi-formulario form input[type="text"],
.mi-formulario form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,.2);
}

.mi-formulario form textarea {
  height: 310px;
  min-height: 200px;
  max-width: 100%;
  min-width: 100%;
}

/* Estilos de animación de fuego */
@keyframes flame {
    0% {
      color: #ff5722; /* Color inicial - rojo */
      text-shadow: 0 0 5px #ff5722, 0 0 10px #ff5722, 0 0 15px #ff5722; /* Sombra */
    }
    50% {
      color: #ff9900; /* Color intermedio - naranja */
      text-shadow: 0 0 5px #ff9900, 0 0 10px #ff9900, 0 0 15px #ff9900; /* Sombra */
    }
    100% {
      color: #ff5722; /* Color final - rojo */
      text-shadow: 0 0 5px #ff5722, 0 0 10px #ff5722, 0 0 15px #ff5722; /* Sombra */
    }
}