.container-fluid-landing {
    background-color: black;
    animation: popup 1s;
    height: 100vh;
}

.container-intro{
    animation: blur 1s;
}

.fire-text{
    text-decoration: none;
}

.fire-text h3 {
    font-size: 1.5em;
    animation: flame 1s infinite alternate;
    color: #ff5722; /* Puedes ajustar el color base aquí */
    text-shadow: 0 0 5px #ff5722, 0 0 10px #ff5722, 0 0 15px #ff5722; /* Sombra */
}

.icon-landing {
    font-size: 3em;
    color: aliceblue;
}

    
/* Animación */

@keyframes blur {
    0% {
    filter: blur(12px);
    }
    100% {
    filter: blur(0px);
    }
}

@keyframes popup {
    0% {
    transform: scale(1.1);
    opacity: 0;
}
    100% {
    transform: scale(1);
    opacity: 1;
    }
}

/* Estilos de animación de fuego */
@keyframes flame {
    0% {
      color: #ff5722; /* Color inicial - rojo */
      text-shadow: 0 0 5px #ff5722, 0 0 10px #ff5722, 0 0 15px #ff5722; /* Sombra */
    }
    50% {
      color: #ff9900; /* Color intermedio - naranja */
      text-shadow: 0 0 5px #ff9900, 0 0 10px #ff9900, 0 0 15px #ff9900; /* Sombra */
    }
    100% {
      color: #ff5722; /* Color final - rojo */
      text-shadow: 0 0 5px #ff5722, 0 0 10px #ff5722, 0 0 15px #ff5722; /* Sombra */
    }
}