.container-fluid-landing {
    background-color: black;
    animation: popup 1s;
    height: 100vh;
}

.container-intro{
    animation: blur 1s;
}

    
/* Animación */

@keyframes blur {
    0% {
    filter: blur(12px);
    }
    100% {
    filter: blur(0px);
    }
}

@keyframes popup {
    0% {
    transform: scale(1.1);
    opacity: 0;
}
    100% {
    transform: scale(1);
    opacity: 1;
    }
}

